<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label>FirstName</ion-label>
          <ion-input type="text" [(ngModel)]="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>LastName</ion-label>
          <ion-input type="text" [(ngModel)]="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"ß></ion-input>
        </ion-item>
      </ion-list>
        

</ion-content>
<ion-footer>
    <ion-button expand="full" (click) ="dismiss()">Edit</ion-button>
  </ion-footer>
